In [ ]:
# Note: You can select between running the Notebook on "CPU" or "GPU"
# Click "Runtime > Change Runtime time" and set "GPU"

In [ ]:
#Uncomment to install ydata-synthetic lib
#!pip install ydata-synthetic

# Tabular Synthetic Data Generation with CTGAN
- CTGAN - Implemented accordingly with the [paper](https://arxiv.org/pdf/1907.00503.pdf)
- This notebook is an example of how to use CTGAN to generate synthetic tabular data with numeric and categorical features.

## Dataset

- The data used is the [Adult Census Income](https://www.kaggle.com/datasets/uciml/adult-census-income) which we will fecth by importing the `pmlb` library (a wrapper for the Penn Machine Learning Benchmark data repository).

In [ ]:
from pmlb import fetch_data

from ydata_synthetic.synthesizers.regular import RegularSynthesizer
from ydata_synthetic.synthesizers import ModelParameters, TrainParameters

## Load the data

In [2]:
# Load data
data = fetch_data('adult')
num_cols = ['age', 'fnlwgt', 'capital-gain', 'capital-loss', 'hours-per-week']
cat_cols = ['workclass','education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex',
            'native-country', 'target']

## Define model and training parameters

In [1]:
# Defining the training parameters
batch_size = 500
epochs = 500+1
learning_rate = 2e-4
beta_1 = 0.5
beta_2 = 0.9

ctgan_args = ModelParameters(batch_size=batch_size,
                             lr=learning_rate,
                             betas=(beta_1, beta_2))

train_args = TrainParameters(epochs=epochs)

## Create and Train the CTGAN

In [ ]:
synth = RegularSynthesizer(modelname='ctgan', model_parameters=ctgan_args)
synth.fit(data=data, train_arguments=train_args, num_cols=num_cols, cat_cols=cat_cols)

## Generate new synthetic data

In [8]:
synth_data = synth.sample(1000)
print(synth_data)

           age  workclass         fnlwgt  education  education-num  \
0    38.753654          4  179993.565472          8           10.0
1    36.408844          4  245841.807958          9           10.0
2    56.251066          4  400895.076058         11           13.0
3    26.846605          4  240156.201048         11           10.0
4    29.083102          1    5601.059126         11            9.0
..         ...        ...            ...        ...            ...
995  79.281276          4   30664.183560          1           10.0
996  51.423132          4  414524.980527          1           10.0
997  17.342915          6  177716.451926         11           13.0
998  39.298867          4  132011.369567         15           12.0
999  46.977763          2   92662.371635          9           13.0

     marital-status  occupation  relationship  race  sex  capital-gain  \
0                 4           0             3     4    0     55.771499
1                 6           7             0     4    1    124.337939
2                 4           3             3     4    1     27.968087
3                 4           6             1     4    0     25.065678
4                 6           3             0     4    0    126.269337
..              ...         ...           ...   ...  ...           ...
995               2           0             3     4    1      4.393001
996               4           7             3     2    0     54.841598
997               4           4             4     4    0     99.394428
998               4          14             1     4    1     97.834797
999               4           8             1     4    0     51.258308

     capital-loss  hours-per-week  native-country  target
0       -1.271118       39.749641              39       1
1       -2.114950       44.488198              39       1
2        1.541738       40.042696              39       1
3        1.148560       39.952615              39       1
4       -1.786768       39.808085              39       0
..            ...             ...             ...     ...
995      0.224015       50.580637              39       1
996      1.319341        4.441194              39       1
997     -5.231663       39.779674              39       1
998      1.595817       39.731359              13       1
999      1.129814       39.838415              39       1

[1000 rows x 15 columns]